@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=Lavishly+Yours&display=swap");
@import url("kit/variables");
@import url("kit/fontello");
@import url("kit/general");
@import url("header");
@import url("hero");
@import url("about");
@import url("schedule");
@import url("gallery");
@import url("contact");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, sans-serif;
}
